<!doctype html>
<html lang="<%= site.locale %>">
<head>
    <%= render "head", metadata: site.metadata, title: data.title %>
</head>
<body class="<%= data.layout %> <%= data.page_class %> container mx-auto px-4 md:px-12 space-y-6 max-w-screen-md">
<%= render "navbar", metadata: site.metadata, resource: resource %>

<main class="">
    <%= content %>
</main>

<%= render "footer", metadata: site.metadata %>
</body>
</html>